*
{
    margin: 0;
    padding: 0;
}
/*****************************************TOPnav********************************************/

.main-Navbar
{
    font-family: 'Maven Pro', sans-serif;
    width: 100%;
    height: 100%;
}

.nav-ti
{
    background-color: red;
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.nav-ti ul
{
    float: right;
    margin-right: 30px;
}

.nav-ti ul li
{
    list-style-type: none;
    display: inline-block;
}

.nav-ti ul li:hover
{
    background-color: orange;
}

.nav-ti ul li a
{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 30px;
}
/*****************************************TOPnav********************************************/

#aboutus
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#aboutus h2
{
    margin-bottom: 25px;
    font-size: 90px;
}

.img-wrap
{
    width: 100%;
}

.img-wrap img
{
    width: 100%;
    padding: 10px;
    margin: 20px;
    padding-left: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px #999999;
}